h1 {background-image: url("trilliumbanner.jpg");
    background-repeat: no-repeat;
    height: 86px;
    background-color: #d4eeb4;
}
h2{
    background-image: url("trilliumbg.gif");
    background-repeat: no-repeat;
    background-color: #d4eeb4;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-position: left center;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    background-image: url("trilliumgradient.png");

}

#allPage {
    margin-left: auto;
    margin-right: auto;
    width: 975px;
}

ul {
    list-style-image: url("trilliumbg.gif");
}
footer {
    background-image: url("trilliumfoot.gif");
    background-repeat: no-repeat;
    background-position: right;
    height: 80px;
    background-color: #5c743d;
    color: white;
    padding: 4px;
}

a{
    text-decoration: none;
    color: white;

}
a:hover{
    text-decoration: underline overline;
    background-color: F3FFE3;

}