a{
    display: block;
    margin: 20px auto;
    width: fit-content;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    padding: 12px 30px;

}
a:hover{
    text-decoration: overline underline;
}
img {
        display: block;
    margin: 0 auto;
    width: 700px;
    height: auto;
}
body{
    background-color: beige;
}
div{
    background-color: white;
    width: 980px;
    margin: 0 auto; 
}

