body {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
#mainContent {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
}
caption {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: #D7F1BC;
    color: #49166D;
}
thead {
    background-color: #D7F1BC ;
}
tfoot{
    background-color:#D7F1BC ;
    font-size: x-small;
}
#phone {
    border: medium dotted #CCCCCC;
    border-spacing: 0px;
    padding: 3px;
}
td {
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #49166D;
}
a:hover {
    text-decoration: underline overline;
    background-color: #D7F1BC;
}
.oddRow {
    background-color: #E0F4CC;

}
.evenRow {
    background-color: #CCCCCC;
}
table{
    padding: 3px;
}
ul {
    list-style-image: url(aball.gif);
}
