body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3; 
  color: #333;
  margin: 0;
  padding: 0;
}


header {
  background-color: #7a9a01; 
  color: white;
  text-align: center;
  padding: 20px;
}

header img {
  vertical-align: middle;
  margin-right: 10px;
}

header h1 {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  vertical-align: middle;
}

header h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 5px;
}


form {
  background-color: white;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

fieldset {
  border: 2px solid #7a9a01;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
  color: #7a9a01;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 95%;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

li {
  margin-bottom: 12px;
}


h3 {
  color: #7a9a01;
  margin-top: 25px;
}


a {
  color: #0072ce; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.thankyou {
  text-align: center;
  color: #7a9a01;
  font-weight: bold;
}


input[type="submit"] {
  background-color: #7a9a01;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  display: block;
  margin: 20px auto;
}

input[type="submit"]:hover {
  background-color: #5c7600;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}
.home-button {
  display: inline-block;
  background-color: white;
  color: #7a9a01;
  border: 2px solid white;
  border-radius: 6px;
  padding: 6px 14px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  top: 20px;
  right: 20px;
}

.home-button:hover {
  background-color: #7a9a01;
  color: white;
  border-color: #7a9a01;
}
input[type="submit"] {
  background-color: #7a9a01;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  display: block;
  margin: 20px auto;
}

input[type="submit"]:hover {
  background-color: #5c7600;
}